* {
margin: 0px;
padding: 0px;
}

.header{
 background-color: rgb(37, 34, 34);
 text-align: center;
padding:  20px 0px;
}

.header img {
    width: 100px;
}

 .banner h3 {
    text-align: right;
    background-color: rgb(96, 168, 96) ;
    cursor: pointer;
    padding-left: 0px;
 }
 .banner h2