* {
margin: 0px;
padding: 0px;
}

.header{
 background-color: rgb(37, 34, 34);
 text-align: center;
padding:  20px 0px;
}

.header img {
    width: 100px;
}

 .banner img  {
    width: 100% ;
    
 }

.collection img {
    width: 90%;
    padding: 30px; ;
    display: flex;
    background-color: black;
}

.collection h1{
 text-align: center;
}

 .file img {
    width: 80%;
    margin:  10px;
padding: 50px 50px;
 }
 .file h2{
    text-align:center ;
    background-color: rgb(194, 166, 166);
 }
 
 .rescue {
 text-align:center;
 
 }
 
 .collection h1 strong {
    background-color: rgb(48, 43, 43);
    color: white;
 }

 .rescue h3{
    color:rgb(27, 20, 20) ;
 }